@model Pedido
<br/>
<br/>
<div class="container">

    <div class="jumbotron">
        <h2>@ViewBag.CheckoutCompletoMensagem</h2>
        <div class ="card">
            <div class="card-body">

                <p>Cliente : <strong> @Model.Nome</strong></p>
                <p>Data Do Pedido : <strong> @Model.PedidoEnviado</strong></p>
                <p>Número Do Pedido : <strong> @Model.PedidoId</strong></p>
                <br/>
                @foreach (var item in Model.PedidoIntens)
                { 
                 
                    <img src="@item.Lanche.ImagemUrl" width="40" height="40"/>
                    <ul>@item.Quantidade</ul>
                    <ul>@item.Lanche.Nome</ul>
                    <ul>@item.Lanche.Preco</ul> 
                }


                <p>Valor Total Do Pedido : <strong> @(((Decimal)ViewBag.TotalPedido).ToString("C2"))</strong></p>
                }
              
            </div>
        </div>
    </div>
</div>
